body * { box-sizing: border-box; }

#header { 
	padding-left: 10px;
	background: #222; 
	height: 40px; 
	color: #ccc; 
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
}

#remainingReq{ 
	background: black; 
	display: inline-block;
	height: 40px;
	padding: 0 15px;
	font-size: 14px;
	float: right;
}

#content{ margin: 25px 50px }

.title { color: #999; }

.link {
	padding-bottom: 15px;
	font-size: 30px
}

.subObject {
	background: rgb(237, 237, 237) none repeat scroll 0% 0%;
	margin-left: 25px;
	padding: 5px 15px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.badge-error {
  background-color: #b94a48;
}

.input-group {
	margin-bottom: 10px;
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px 0 0 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.input-group-addon:last-child {
    border-left: 0px none;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
	border-radius: 0 4px 4px 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-group-addon:hover { cursor: pointer; }